body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
input {
    border: 2px solid #CCCCCC;
    padding: 8px;
    outline: none;
}
input:focus {
    border-color: blue;
    box-shadow: 0 0 5px rgba(64, 60, 207, 0.5);
}